.mainDiv{
    display:grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.container{
    border:1px solid rgb(204, 196, 196);
    display: grid;
    grid-template-columns:repeat(5,1fr );
    justify-content: center;
    
    border-radius: 10px;
}
.container:nth-child(odd) {
    background-color: rgb(179, 147, 147);
  }
  
  .container:nth-child(even) {
    background: rgb(195, 241, 195);
  }
.para{
    
    padding: 10px;
}
@media only screen and (max-width: 600px) {
    .container{
        border:1px solid rgb(204, 196, 196);
        display: grid;
        grid-template-columns:repeat(3,1fr );
        justify-content: center;
        
        border-radius: 10px;
    }
}