.container{
  display: flex;
  flex-direction: column;
}
.seatContainer {
    display: flex;
    
    margin:10px;
  }
  .seat{
    display: flex;
    width: 100%;
    
    flex-flow: wrap;
 
    justify-content: space-evenly;
  }
  .seatItem {
    margin-bottom: 10px;
  }

  
  .seatLabelBooked {
    font-weight: bold;
  }
  
  .seatBalueBooked {
    color: black;
    font-size: 20px;
  }
  
  .seatLabelVaccent {
    font-weight: bold;
    font-size: 20px;
  }
  
  .seatValueVaccent {
    color: green;
  }
  
  .chair {
    width: 50px;
    height: 50px;
    background-color: lightgreen;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;

  }
  
  .chairBooked {
    width: 50px;
    height: 50px;
    background-color: gray;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
  }
  
  .chairNumber {
    font-size: 16px;
  }
  
  .chartContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: 500px;
    margin-top: 20px;
    border-top:1px solid gray;
    border-bottom:1px solid gray

  }
  .chart{
   width: 95%;
   height: 80%;

    
  }
  @media only screen and (max-width: 720px) {
    .chartContainer {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
       
    
      }
      .chart{
        display: grid;
        width: 100%;
        height: 95%;
        justify-content: center;
     
         
       }
  }