/* Collection.module.css */
.collectionContainer {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Roboto', sans-serif;
  }
  
  .collectionSummary {
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .collectionSummary div {
    display: flex;
    align-items: center;
  }
  
  .collectionSummary span {
    font-size: 1.2rem;
    color: #333;
  }
  
  .collectionItems {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
  }
  
  .collectionItem {
    background-color: #b8b5b5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1 2px 8px rgba(0, 0, 0, 0.05);
   
  }
  
  .collectionItem p {
    margin: 5px 0;
    color: #000000;
  }
  
  .collectionItem .month {
    font-weight: 600;
    font-size: 1.1rem;
  }
  
  .collectionItem .amount {
    font-size: 1.3rem;
    color: #007bff;
    font-weight: 700;
  }
  
  @media (max-width: 768px) {
    .collectionSummary {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .collectionItems {
      grid-template-columns: 1fr;
    }
  }
  